In [ ]:
#this data was aquired using a csv file from the city of austin website

# Aquire the data

In [1]:
import warnings
warnings.filterwarnings("ignore")

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('Austin_Animal_Center_Outcomes.csv')

In [ ]:
df.head()

In [ ]:
df.Breed.value_counts()

# Prepare the data / Data wrangling
#### what i think i should start off on 
- look at nulls
- missing values 
- rename the collumns 
-  create variables where euthanasia = 1 and non- ethanazia = 0

In [2]:
from prepare import train_validate_test_split
import prepare

## the main question:  identify diffrent attributes that can casue an animal to be euthanized 

- main goals to find ways to improve

In [ ]:
#chanign the collumn name so that it would be easier to run data 
df = df.rename(columns={'Date of Birth': 'DOB', 'Outcome Type':'outcome', 'Outcome Subtype':'subtype', 'Animal Type': 'animal_type', 'Sex upon Outcome': 'sex_upon_outcome', 'Age upon Outcome': 'age_upon_outcome'})

In [ ]:
df.head()

In [ ]:
df.outcome.value_counts()

In [ ]:
df.isnull().sum()

#im thinking about

In [ ]:
df['Name'] = df.Name.fillna(value='No_name')
#just filling the names of all the no names

In [ ]:
df.isnull().sum()

In [ ]:
df = df.drop(columns='subtype')

#this has too many missing values

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
df = df.dropna()

#decided that I would still have alot of data valible so I will just drop

In [ ]:
df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.shape

#there is still enough data to keep going

In [ ]:
df.head()

In [ ]:
## This was not nessary to do but i wanted to show my thought process as I was doing this

In [ ]:
df.age_upon_outcome.value_counts()

#those negative values are weird 
#i thhink they when making this datset they meant to make those 1 year, -1 does not make sense

In [ ]:
df = df.replace('-1 years', '1 year')
#super weird negative years Im going to fix that and assume it was a mistake

In [ ]:
df = df.replace('-2 years', '2 years')

In [ ]:
df = df.replace('-3 years', '3 years')

In [ ]:
df.age_upon_outcome.value_counts()

In [ ]:
df.head()

In [ ]:
df.animal_type.value_counts()

In [ ]:
df.sex_upon_outcome.value_counts()

In [ ]:
df.Color.value_counts()

In [ ]:
df.outcome.value_counts()

In [ ]:
df.info()

In [ ]:
# convert our date column to datetime type
df.DOB = pd.to_datetime(df.DOB)
df.dtypes

In [ ]:
df['year_born'] = df.DOB.dt.year

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df['current_age'] = 2022 - df.year_born

#just addding the current age of the animal

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
#this will be age in years

In [ ]:
df.MonthYear = pd.to_datetime(df.MonthYear)
df.dtypes

In [ ]:
df.DateTime = pd.to_datetime(df.DateTime)
df.dtypes

In [ ]:
df['year_released'] = df.DateTime.dt.year

In [ ]:
df.head()

In [ ]:
df['Age_upon_out'] = df.DateTime - df.DOB

In [ ]:
df.head()

In [ ]:
df['year_out'] = df.year_released - df.year_born

In [ ]:
df.head()

In [ ]:
df.year_out.value_counts()

In [ ]:
df.info()

In [ ]:
#trying to change this

In [ ]:
#df.age_upon_outcome =

In [ ]:
df['days_old'] = df.Age_upon_out.dt.days

In [ ]:
df.head()

In [ ]:
df.days_old.info()

In [ ]:
#df['Years_olD'] = df.days_old/365

In [ ]:
df.head()

In [ ]:
#df['Years_olD'] = df.Years_olD.round()

In [ ]:
df.head()

In [ ]:
df.year_out.value_counts()

In [ ]:
df = df.replace(-1, 1)

In [ ]:
df.year_out.value_counts()

In [ ]:
df.Age_upon_out.value_counts()

In [ ]:
df.Age_upon_out.info()

In [ ]:
#df['Age_upon_out'] = df['Age_upon_out'].astype(int)

In [ ]:
df.head()

In [ ]:
#df['year__outcome'] = df.Age_upon_out/ 365
#this will make it into a suer weird number

In [ ]:
#df.head()

In [ ]:
#df['Year_out'] = df.MonthYear.dt.year

In [ ]:
#df.head()

In [ ]:
#df['Age_outcome'] = df.Year_out - df.year

In [ ]:
df.head()

In [ ]:
df.Age_outcome.value_counts()

In [ ]:
df.age_upon_outcome.value_counts()

In [ ]:
df.age.value_counts()

In [ ]:
df['age_bin'] = pd.cut(df.age, 
                           bins = [0, 5, 10, 15, 20, 25, 30],
                           labels = ['below 5yrs', 'over 5yrs', 'over 10yrs', 'over 15yrs', 'over 20yrs', 'over 25yrs'])

In [ ]:
df.head()

In [ ]:
#dummys for outcome, sex and animal type

In [ ]:
dummies = pd.get_dummies(df['outcome'])

In [ ]:
df = pd.concat([df, dummies], axis=1)
df.head()

In [ ]:
dummies2 = pd.get_dummies(df[['animal_type','sex']])

In [ ]:
df = pd.concat([df, dummies2], axis=1)
df.head()

In [ ]:
df.Breed.info()

In [ ]:
def prep_animal_data(df):
    df = df.rename(columns={'Date of Birth': 'DOB', 'Outcome Type':'outcome', 'Outcome Subtype':'subtype', 'Animal Type': 'animal_type', 'Sex upon Outcome': 'sex', 'Age upon Outcome': 'age'})
    df['Name'] = df.Name.fillna(value='No_name')
    df = df.drop(columns='subtype')
    df = df.dropna()
    df['age'] = 2022 - df.year
    dummies = pd.get_dummies(df['outcome'])
    df = pd.concat([df, dummies], axis=1)
    
    dummies2 = pd.get_dummies(df[['animal_type','sex']])
    df = pd.concat([df, dummies2], axis=1)
    return df

In [3]:
df = prepare.get_animal_data()

In [4]:
df = prepare.prep_animal_data(df)

In [5]:
df.head()

,Name,DateTime,MonthYear,DOB,outcome,animal_type,sex,age_upon_outcome,Breed,Color,...,animal_type_Bird,animal_type_Cat,animal_type_Dog,animal_type_Livestock,animal_type_Other,sex_Intact Female,sex_Intact Male,sex_Neutered Male,sex_Spayed Female,sex_Unknown
Animal ID,,,,,,,,,,,,,,,,,,,,,
A794011,Chunk,2019-05-08 18:20:00,2019-05-01,2017-05-02,Rto-Adopt,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White,...,0,1,0,0,0,0,0,1,0,0
A776359,Gizmo,2018-07-18 16:02:00,2018-07-01,2017-07-12,Adoption,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown,...,0,0,1,0,0,0,0,1,0,0
A821648,No_name,2020-08-16 11:38:00,2020-08-01,2019-08-16,Euthanasia,Other,Unknown,1 year,Raccoon,Gray,...,0,0,0,0,1,0,0,0,0,1
A720371,Moose,2016-02-13 17:59:00,2016-02-01,2015-10-08,Adoption,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff,...,0,0,1,0,0,0,0,1,0,0
A674754,No_name,2014-03-18 11:47:00,2014-03-01,2014-03-12,Transfer,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby,...,0,1,0,0,0,0,1,0,0,0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 142750 entries, A794011 to A857750
Data columns (total 38 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Name                   142750 non-null  object
 1   DateTime               142750 non-null  datetime64[ns]
 2   MonthYear              142750 non-null  datetime64[ns]
 3   DOB                    142750 non-null  datetime64[ns]
 4   outcome                142750 non-null  object
 5   animal_type            142750 non-null  object
 6   sex                    142750 non-null  object
 7   age_upon_outcome       142750 non-null  object
 8   Breed                  142750 non-null  object
 9   Color                  142750 non-null  object
 10  year_born              142750 non-null  int64
 11  current_age            142750 non-null  int64
 12  age_bin                140392 non-null  category
 13  year_released          142750 non-null  int64
 14  age_out_years          142750 non-null  int64
 15  Age_upon_out           142750 non-null  timedelta64[ns]
 16  days_old               142750 non-null  int64
 17  Adoption               142750 non-null  uint8
 18  Died                   142750 non-null  uint8
 19  Disposal               142750 non-null  uint8
 20  Euthanasia             142750 non-null  uint8
 21  Lost                   142750 non-null  uint8
 22  Missing                142750 non-null  uint8
 23  Relocate               142750 non-null  uint8
 24  Return to Owner        142750 non-null  uint8
 25  Rto-Adopt              142750 non-null  uint8
 26  Stolen                 142750 non-null  uint8
 27  Transfer               142750 non-null  uint8
 28  animal_type_Bird       142750 non-null  uint8
 29  animal_type_Cat        142750 non-null  uint8
 30  animal_type_Dog        142750 non-null  uint8
 31  animal_type_Livestock  142750 non-null  uint8
 32  animal_type_Other      142750 non-null  uint8
 33  sex_Intact Female      142750 non-null  uint8
 34  sex_Intact Male        142750 non-null  uint8
 35  sex_Neutered Male      142750 non-null  uint8
 36  sex_Spayed Female      142750 non-null  uint8
 37  sex_Unknown            142750 non-null  uint8
dtypes: category(1), datetime64[ns](3), int64(5), object(7), timedelta64[ns](1), uint8(21)
memory usage: 21.5+ MB

# Exploration

###  Cleaner exploration on explore an modeling rough draft

In [ ]:
df.info()

In [ ]:
def train_validate_test_split(df, target, seed=123):
    '''
    This function takes in a dataframe, the name of the target variable
    (for stratification purposes), and an integer for a setting a seed
    and splits the data into train, validate and test. 
    Test is 20% of the original dataset, validate is .30*.80= 24% of the 
    original dataset, and train is .70*.80= 56% of the original dataset. 
    The function returns, in this order, train, validate and test dataframes. 
    '''
    train_validate, test = train_test_split(df, test_size=0.2, 
                                            random_state=seed, 
                                            stratify=df[target])
    train, validate = train_test_split(train_validate, test_size=0.3, 
                                       random_state=seed,
                                       stratify=train_validate[target])
    return train, validate, test

In [ ]:
# Stratify with categorical target variables
train, validate, test = train_validate_test_split(df, target='Euthanasia')
train.shape, validate.shape, test.shape

Initial questions 

- what sex of animals is more likely to get euthi

- what animal type is more lkely to get euthi

- Does the age of the animal determine the euthinization

- what age are animals more likly to get adopted?

- what Breed is more likly to get adopted

In [ ]:
#only using train

## Question 1 what animal type of animals is more likely to get euthi

In [ ]:
sns.catplot(x="animal_type",hue = 'Euthanasia', data=train, kind='count')

In [ ]:
#looks like other is more likely to get euthinized

## Question 1.2 what animal type of animals is more likely to get adopted

In [ ]:
sns.catplot(x="animal_type",hue = 'Adoption', data=train, kind='count')

In [ ]:
plt.figure(figsize=(12,9))
sns.catplot(x="animal_type",hue = 'outcome', data=train, kind='count')

### Exploring the euthanized breeds

In [ ]:
 df4 = df[['animal_type','outcome','Breed']]
    
df4

In [ ]:
 df4 = df4.loc[df4['animal_type'] == 'Other']

In [ ]:
df4.head()

In [ ]:
df4.Breed.value_counts()

In [ ]:
#other consists of diffrent animanls

In [ ]:
df5 = df[['animal_type','outcome','Breed']]
    
df5.head()

In [ ]:
 df5 = df5.loc[df5['outcome'] == 'Euthanasia']

In [ ]:
df5

In [ ]:
df5.value_counts()

In [ ]:
df.head()

## QUESTION 2 what sex of animals is more likely to get euthi

In [ ]:
plt.figure(figsize=(15,10))
c = sns.countplot(train['sex'],hue=train['Euthanasia'])

for p in c.patches:
    c.annotate(p.get_height(), 
                (p.get_x() + p.get_width() / 2.0, 
                 p.get_height()), 
                 ha = 'center', 
                 va = 'center', 
                 xytext = (2, 10),
                 textcoords = 'offset points')

In [ ]:
# ax = sns.countplot(x=train['sex'],
#                    hue=train['Euthanasia'].value_counts(ascending=False).index);

# abs_values = train['Euthanasia'].value_counts(ascending=False).values

# ax.bar_label(container=ax.containers[0], labels=abs_values)

##  Question 3 - Does the age of the animal determine the euthinization

In [ ]:
plt.figure(figsize=(12,9))
sns.set_style("dark")
sns.set_context("notebook", font_scale=1.5, rc={"lines.linewidth": .5})
sns.set(context='notebook', style='dark', font='Helvetica', font_scale=1, color_codes=True, rc=None)
#sns.histplot(x = train['age'] ,hue=train['Euthanasia'], data ='train', multiple="stack")

In [ ]:
plt.figure(figsize=(12,9))
sns.countplot(x = train['age'] ,hue=train['Euthanasia'])

In [ ]:
# looks like animals around the age of 7-9 are more likely to get euthanized

# question 4 - what are the diffrent outcomes for certain animal types

In [ ]:
train.head()

In [ ]:
plt.figure(figsize=(14,10))
sns.countplot(x = train['outcome'] ,hue=train['animal_type'])

In [ ]:
df.info()