In [ ]:
#this data was aquired using a csv file from the city of austin website

# Aquire the data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Austin_Animal_Center_Outcomes.csv')

In [3]:
df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [4]:
df.Breed.value_counts()

Domestic Shorthair Mix                    32979
Domestic Shorthair                        11794
Pit Bull Mix                               9145
Labrador Retriever Mix                     7669
Chihuahua Shorthair Mix                    6618
                                          ...
Chinese Crested/Papillon                      1
Smooth Fox Terrier/Border Collie              1
Jack Russell Terrier/Shetland Sheepdog        1
Australian Kelpie/Shiba Inu                   1
Black Mouth Cur/Rhod Ridgeback                1
Name: Breed, Length: 2771, dtype: int64

# Prepare the data / Data wrangling
#### what i think i should start off on 
- look at nulls
- missing values 
- rename the collumns 
-  create variables where euthanasia = 1 and non- ethanazia = 0